x-common-env: &common-env
    REDIS_URL: redis://redis:6379/0
    RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    MINIO_ROOT_USER: ${MINIO_ROOT_USER}
    MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}

services:
  api-service:
    build: ./backend/api_service
    container_name: api_service
    ports: 
      - "8000:8000"
    environment:
      <<: *common-env
      FLASK_ENV: dev
    depends_on:
      rabbitmq: { condition: service_healthy }
      redis: { condition: service_healthy}
    networks:
      - backend_net

  worker_service:
    build: ./backend/worker_service
    container_name: worker_service
    environment:
      <<: *common-env
      APP_ENV: development
    depends_on:
      rabbitmq: { condition: service_healthy }
      redis: { condition: service_healthy}
    networks:
      - backend_net

  frontend:
    build: ./frontend
    container_name: frontend_nginx
    ports:
      - "8080:8080"
    depends_on:
      - api-service
    networks:
      - backend_net
    
  redis:
    image: redis:8.4.0-alpine
    container_name: redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - redis_data:/data
    networks:
      - backend_net

  rabbitmq:
    image: rabbitmq:4.2.2-management
    container_name: rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend_net

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes: 
      - minio_data:/data
    networks:
      - backend_net

networks:
  backend_net:
    driver: bridge

volumes:
  minio_data:
  redis_data:
  rabbitmq_data: